{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}

    <div class="container py-4">
        <div class="border border-danger bg-orange-lighter py-2 px-3 w-responsive mx-auto">
            <h2 class="text-danger text-center">{{ resto.nom }}</h2>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-lg-4 d-flex flex-column justify-content-center order-lg-first order-last">

                <div class="d-flex my-3 justify-content-center justify-content-lg-around">
                    <button class="btn btn-success me-2">{{ resto.idTypeCuisine.nom }}</button>
                    {% for tag in resto.tags %}
                        <button class="btn btn-success me-2">{{ tag.nom }}</button>
                    {% endfor %}
                </div>
                <p> {{ resto.description }}
                </p>
                <div class="d-flex">
                    <i class="fas fa-map-marker-alt text-danger mt-1"></i>
                    <p class="ms-2">{{ resto.rue }} {{ resto.codePostal }} {{ resto.ville }} </p>
                    <a href="#" class="text-success ms-3">VOIR LE PLAN</a>
                </div>
                <p>
                    <i class="fas fa-phone-alt text-danger me-2"></i>
                    <a href="tel:+33625354587">{{ resto.numTelephone }}</a>
                </p>
                <div class="d-grid gap-2">
                    <a href="{{asset( 'images/restaurants/'~resto.slugFolderImage~'/'~resto.slugMenu) }}" class="btn btn-success" target="_blank">VOIR LE MENU</a>
                </div>
            </div>

            <div class="col-12 col-lg-8 mt-3 mt-lg-0 order-lg-last order-first">
                <div
                        id="carouselExampleCrossfade"
                        class="carousel slide carousel-fade"
                        data-mdb-ride="carousel"
                >
                    <div class="carousel-indicators">

                        {% for numImage in resto.imagesRestaurants %}
                            {% if loop.index == 1 %}
                            <button
                                    type="button"
                                    data-mdb-target="#carouselExampleCrossfade"
                                    data-mdb-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 1"
                            ></button>
                            {% elseif loop.index<=loop.length %}
                            <button
                                    type="button"
                                    data-mdb-target="#carouselExampleCrossfade"
                                    data-mdb-slide-to="{{ loop.index-1 }}"
                                    aria-label="{{ 'Slide'~loop.index }}"
                            ></button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in resto.imagesRestaurants %}
                            {% if loop.index == 1  %}
                                <div class="carousel-item active">
                            {% else %}
                                <div class="carousel-item">
                            {% endif %}
                            <img
                                    src=" {{asset('images/restaurants/'~resto.slugFolderImage~'/'~ image.url) }}"
                                    class="d-block w-100"
                                    alt="..."
                            />
                        </div>
                        {% endfor %}
                    </div>
                    <button
                            class="carousel-control-prev"
                            type="button"
                            data-mdb-target="#carouselExampleCrossfade"
                            data-mdb-slide="prev"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                            class="carousel-control-next"
                            type="button"
                            data-mdb-target="#carouselExampleCrossfade"
                            data-mdb-slide="next"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>


    </div>
    <div id="stepperReservation" class="pb-5">
        {% include 'main/layout/_stepperReservation.html.twig' %}
    </div>
{% endblock %}