<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars text-white"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="{{path('accueil')}}">
                <img
                        src="{{ asset('images/logo/logo.png') }}"
                        height="40"
                        alt="logo food"
                        loading="lazy"
                />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{path('accueil')}}">{{ 'static.navbar.accueil'|trans }}</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('admin')}}">Admin</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('app_logout')}}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('app_login')}}">Se Connecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('app_register')}}">S'enregistrer</a>
                    </li>
                {% endif %}

           </ul>

            <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                {% if app.request.locale|split('_')[0] is same as ('en')  %}
                    <i class="united kingdom flag"></i>
                {% else %}
                    <i class="france flag"></i>
                {% endif %}
            </button>

            <!-- Modal -->
            <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-success text-white">
                            <h5 class="modal-title" id="exampleModalLabel">{{ 'static.navbar.chooseLanguage.title'|trans }}</h5>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-mdb-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <a href="{{ path('setLangueActive',{lang: 'fr'}) }}" class="btn btn-light"><i class="france flag"></i> {{ 'static.navbar.chooseLanguage.fr'|trans }}</a>
                            <a href="{{ path('setLangueActive',{lang: 'en'}) }}" class="btn btn-light"> <i class="united kingdom flag"></i> {{ 'static.navbar.chooseLanguage.en'|trans }}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->